@font-face {
    font-family: Minecraft;
    src: url('../flexbox-minesweeper/Ressources/MinecraftTen-VGORe.ttf');
}
div{
    font-family: Minecraft, sans-serif;
}
img{
    width: 20px;
    height: auto;
}
.flexbox_row{
    display: flex;

}